<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="drive_wheel" params="position">
        <link name="${position}_motor_wheel">
            <visual>
                <origin rpy="0 1.57 0" xyz="0 0 0" />
                <geometry>
                    <cylinder radius="0.0352" length="0.0206" />
                </geometry>
                <material name="black">
                    <color rgba="0 0 0 1"/>
                </material>
            </visual>

            <collision>
                <origin rpy="0 1.57 0" xyz="0 0 0" />
                <geometry>
                    <cylinder radius="0.0352" length="0.0206" />
                </geometry>
            </collision>

            <inertial>
                <origin rpy="0 1.57 0" xyz="0 0 0" />
                <mass value="2.5" />
                <inertia ixx="0.000862808" ixy="0" ixz="0" iyy="0.000862808" iyz="0" izz="0.0015488" />
            </inertial>
        </link>
    </xacro:macro>
</robot>